.about-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.about-header{
    padding-top: 1vh;
    color: green;
}